@{
    ViewData["Title"] = "Select Streaming";
}

<div class="text-center">
    <h1 class="display-4">Select Streaming</h1>
</div>
<div class="input-group mb-3">
    <button type="button" class="btn btn-success">Spotify</button>
</div>
<div class="input-group mb-3">
    <button type="button" class="btn btn-danger">Youtube Music</button>
</div>
<div class="input-group mb-3">
    <button type="button" class="btn btn-warning">Deeser</button>
</div>
<div class="input-group mb-3">
    <button type="button" class="btn btn-light">Apple Music</button>
</div>

